header{
    color:black;
    text-align: center;
    align-items: center;
    background-color:rgb(230, 230, 253);
    height: 1000px;
}
.imgs{
    border-radius: 50px;
}
.head{
    text-align: left;
}
