<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
  <div class="container" style="width: 100%;">
    <div class="row">
      <div class="col-2">
        <a class="navbar-brand" routerLink="home"><span style="color: green;">RE-</span>LEARN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="col-1"></div>
        <div class="col-8">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="register">Registration</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="mean">MEAN Stack</a>
                <a class="dropdown-item" routerLink="mern">MERN Stack</a>
                <a class="dropdown-item" routerLink="java">JAVA</a>
                <!--  -->
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>   
  </nav>