<div class="container" style="padding: 2rem 0rem 2rem 2rem;">
    <div class="row">
        <div class="col-8" style="width: 100%;">
            <div>
                <h1>Know about the best online <br>learning platform.</h1>
                Our students and teachers excel academically even better than offline<br> classes because they get their own space for learning. 
                <br><br><h4>Professional Tutors</h4>
                Our tutors assess a student's current level of understanding and then<br> develop a customized program to help the student reach their <br>educational goals.
                <br><br><h4>Online Community</h4>
                Our online community connects like-minded individuals or people who<br> have similar experiences.
                <br><br><h4>Certification</h4>
                We provide a certification as soon as you will complete your course.
            </div> 
        </div>
        <div class="col" style="width: 100%; padding: 1rem 0 rem;">
            <img src="./assets/images/Logo.png" style = "height:100%; width:100%;border-radius: 25px;">
        </div>
    </div>
